*.mp4
!shriram-financial/public/BG.mp4
*.fig
*.pem
*.png
!shriram-financial/public/advisory/*.png
!shriram-financial/public/advisory/nudge-char.png
!shriram-financial/public/step-*.png
!shriram-financial/public/how-soon-rocket.png
!shriram-financial/public/products/*.png
*.zip
screenshots/
